/*inline element*/
a {
  color: black;
  text-decoration: none;
}
ul
{
  padding-left:10px;
}
/*block level element*/
#title {
  text-align:left;
  border-bottom:1px solid gray;
}
#active{
  color:grey;
  text-decoration:underline;
}
#grid
{
  display:grid;
  grid-template-columns:1fr 3fr
}
#article
{
  border-left:1px solid gray;
  padding-left : 15px
}

@media(max-width:600px){
  #grid {
    display:block;
  }
  #title{
    border-bottom:none;
  }
  #article{
    border-left:none;
  }
}
